*{
  margin: 0px;
  padding: 0px;
}
.container{
  text-align: center;
  line-height: 1.8;
}
.to-do{
  font-size: 17px;
    padding: 3px;
    margin: 6px;
}
.btn{
  font-size: 17px;
  padding: 3px 4px;
  margin: 6px;
}